body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  background-color: #727272;
}

header {
  background-color: #b4b895ef;
  color: #fff;
}

.container {
  margin-top: 30px;
  position: relative;
}

.swim-lanes {
  min-height: 60vh;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.lane {
  background-color: #e9ecef;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  position: relative;
  flex: 1;
  margin-right: 20px;
}

.lane:last-child {
  margin-right: 0;
}

.lane h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.task-card {
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: grab;
  position: relative;
  z-index: 1;
}

.task-card.dragging {
  z-index: 3;
  position: absolute;
  left: 0;
  top: 0;
  margin: 20px;
}

.task-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.task-card .card-title {
  font-size: 16px;
  margin-bottom: 5px;
}

.task-card .card-text {
  font-size: 14px;
  color: #6c757d;
}

.task-card .delete-task {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 12px;
  padding: 2px 5px;
}

.modal-title {
  font-size: 20px;
}

.form-label {
  font-weight: bold;
}


.task-card.bg-warning {
  background-color: #ffeeba;
}

.task-card.bg-danger {
  background-color: #f8d7da;
}